<p id="notice"><%= notice %></p>
<div class="show">
<p>
  <strong>タイトル</strong>
  <%= @scheduling.title %>
</p>

<p>
  <strong>内容</strong>
  <%= @scheduling.content %>
</p>

<p>
  <strong>日時</strong>
  <%= @scheduling.start_time.strftime("%m-%d") %>
</p>

<%= link_to '編集', edit_scheduling_path(@scheduling) %>
<%= link_to '消去',scheduling_path(@scheduling.id), method: :delete, data: { confirm: '本当に?' } %>
<%= link_to '戻る', schedulings_path %>
</div>