<p id="notice"><%= notice %></p>
<div class="show">
<p>
  <strong>タイトル</strong>
  <%= @schduling.title %>
</p>

<p>
  <strong>内容</strong>
  <%= @schduling.content %>
</p>

<p>
  <strong>日時</strong>
  <%= @schduling.start_time.strftime("%m-%d") %>
</p>

<%= link_to '編集', edit_blog_path(@schduling) %>
<%= link_to '消去',blog_path(@schduling.id), method: :delete, data: { confirm: '本当に?' } %>
<%= link_to '戻る', blogs_path %>
</div>